$primary_color: #fb4c47;
$primary_color_lighter:#fa565226;
$secondary_color:#035755;
$text_color:#4b4f51;
$white_color:#fff;
$black_color:#000;
$footor_color: #415e56;
$green_color: #758681;
$nav_link-color:#00402e;