/*font */
@font-face {
  font-family: Gelion-SemiBold;
  src: url(../../font/Gelion/Gelion-SemiBold.ttf);
}
@font-face {
  font-family: Gelion-Light;
  src: url(../../font/Gelion/Gelion-Light.ttf);
}
@font-face {
  font-family: Gelion-Medium;
  src: url(../../font/Gelion/Gelion-Medium.ttf);
}
@font-face {
  font-family: Gelion-Regular;
  src: url(../../font/Gelion/Gelion-Regular.ttf);
}
@font-face {
  font-family: RedHatDisplay-Bold;
  src: url(../../font/Red_Hat_Display/RedHatDisplay-Bold.ttf);
}