//padding
$padding-8: .5rem;
$padding-12: .75rem;
$padding-16: 1rem;
$padding-30: 1.85rem;
$padding-40: 2.5rem;
$padding-50: 3.125rem;
$padding-100: 6.25rem;

//margin
$margin-20: 1.25rem;
$margin-30: 1.85rem;
$margin-50: 3.125rem;
$margin-64: 4rem;

//radius
$radius-12: .75rem;
$radius-50: 3.125rem;
$radius-50p: 50%;
$radius-64: 4rem;

//font-size
$font-15: .95rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-32: 2rem;
$font-50: 3.125rem;